<div class="title-box">
    <h2>Détails pour {{ countryName }}</h2>
</div>


<div class="container">

    <div class="stats-container">
        <div class="stat-box">
            <span class="stat-label">Total Participations</span>
            <span class="stat-value">{{ totalParticipations }}</span>
        </div>
        <div class="stat-box">
            <span class="stat-label">Total Medals</span>
            <span class="stat-value">{{ totalMedals }}</span>
        </div>
        <div class="stat-box">
            <span class="stat-label">Total Athletes</span>
            <span class="stat-value"> {{ totalAthletes }}</span>
        </div>
    </div>
    
    <div class="graph-container">

        <ngx-charts-line-chart *ngIf="countryData && countryData.length > 0"
            [view]="[700, 400]"
            [scheme]="colorScheme" 
            [results]="countryData"
            [legend]="true"
            [xAxis]="true"
            [yAxis]="true"
            [autoScale]="true">
            
        </ngx-charts-line-chart>
    </div>

</div>